/local.properties
/minedigger.keystore

/.gradle/
/.nb-gradle/
/.nb-gradle-properties

/.idea/

/build/
/*.iml

/app/private/
/app/prebuild/
/app/build/
/app/src/main/obj/
/app/src/main/libs/

.project
.settings
.classpath
